
    <main style="text-align:center; padding-left: 0px;">
      <div class="center" style="width: 100%; position: absolute;">
        <div class="center" style="width: 320px; position: relative;">
          <img src="/chatbot.png" style="position: relative; width: 100%;">
          <textarea rows="4" cols="50" class="chatlog" style="position: relative; width: 100%;" disabled>
          </textarea>
          <div>
            <input type="text" class="entry"name="entry" style="position: relative; width: 100%;">
          </div>
        </div>
      </div>
    </main>
