body {
  background-image: url("paisley.jpg");
  background-repeat: repeat;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
}

.center {
  margin: auto;
  width: 50%;
}

header h1 {
  display: inline-block;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 72px;
  font-weight: 200;
  margin: 5px 20px;
}

header h1 a {
  color: inherit;
}

header h1 a:hover {
  text-decoration: none;
}

nav {
  background-color: #333;
  color: white;
  margin: 0 -20px;  /* negative margin here makes up for header padding */
  font-size: 28px;
  font-weight: 200;
}

.navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
}

.navbar-item {
  display: inline;
}

.navbar-item a {
  display: inline-block;
  padding: 10px 20px;
  color: white;
}

.navbar-item a:hover {
  background-color: #444;
}

.navbar-right {
  float: right;
}

main {
  padding: 20px 20px 100px 20px;
  min-height: 300px;
}

footer {
  background-color: #333;
  color: white;
}

 .copyright {
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 25px;
  font-weight: 200;
}

.hidden {
  display: none;
}

.error-container {
  background-color:grey;
  text-align: center;
}

.text-container {
  background-color: white;
  text-align: center;
  padding: 20px;
  width: 300px;
  margin: auto;
}